raspberry/linux-wiringpi/out*
raspberry/linux-wiringpi/CMakeFiles
raspberry/linux-wiringpi/cmake_install.cmake
CMakeCache.txt
raspberry/linux-wiringpi/metadata/braille_driver.pc.in
*.o
*.d
.vs
ARM
obj